:root {
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: rgb(36, 37, 38);
    color: white;
}  

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
}

body::-webkit-scrollbar{
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background: #202027;
}

body::-webkit-scrollbar-thumb{
    background: rgb(19, 20, 20);
}

main {
    display: grid;
    grid-template-areas:
        "topbar  topbar  topbar"
        "content content content"
        "footer  footer  footer";

        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: auto auto auto;

        gap: 0 50px;

        text-align: center;
}

a {
    color: whitesmoke;
}



.landingPage {
    /* The image used */
    background: url("files/images/forest-backdrop2784x1243.png");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage .websiteTitle a{
    border-radius: 15px;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1vw;
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.link{
    border-radius: 15px;
    font-size: 4vh;
    display:inline;
    padding: 0.5vw;
    margin: 1.5vw;
    background-color: rgba(0, 0, 0, 0.2);
}

.title{
    font-size: 4vh;
    margin-top: 2.5vw;
}

.homeText{
    font-size: 2vh;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 2vw;
}

.row{
    margin: 0 -5px;
}

.column{
    padding: 0px;
    display: block;
    display: inline;
}

.projectSectionTitle{
    margin-bottom: 2rem;
    margin-top: 3.25rem;
}

.projectSectionTitle a{
    border-radius: 15px;
    font-size: 2.35rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left:  10%;
    margin-right: 10%;
    margin-bottom: 30px;
    text-align: center;
    background-image: url("files/images/intrudermap_1920x810.png");
    background-size:auto;
    background-repeat: no-repeat;
    animation: placingDiamonds ease .2s;
}

@keyframes placingDiamonds {
    0% {margin-left: 5%; margin-right: 5% }
    100% {margin-left: 10%; margin-right: 10% }
}

.card:hover{
    animation: minerDiamonds ease .2s;
    margin-left: 5%; margin-right: 5%
}

@keyframes minerDiamonds {
    0% {margin-left: 10%; margin-right: 10% }
    100% {margin-left: 5%; margin-right: 5% }
}

@media screen and (max-width: 1000px) {
    .card {
        display: block;
        margin-left:  0%;
        margin-right: 0%;
    }
    .articleText{
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
    }
    .articleImgRight img{
        float: left;
        margin-left: 0;
    }
}
.card .cardTitle{
    text-align: center;
    padding: 15%;
    font-size: 2rem;
    font-size-adjust: inherit;
}


.card .cardText{
    text-align: center;
    text-size-adjust: 1rem;
    padding: 1%;
}

.card .readMoreButton{
    padding: 0.5%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.card .readMoreButton a{

    padding: 0.5%;
}
.card :last-child{
    margin-bottom: 0;
}

.article{
    margin: 0px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.articleTitle {
    margin-top: 40px;
}

.articleTitle a{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 15px;
}

.articleText{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.articleImgLeft img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.articleImgRight img{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin: 2vw;
}

.footerMenu a{
    color: rgb(82, 82, 82);
}

.footerMenu a:link{
    color: rgb(82, 82, 82);
    text-decoration: underline;
}

.footerMenu a:hover{
    text-decoration: none;
}

 /* */
header  {
    grid-area: topbar; 
    color: whitesmoke; 
    font-size: 38px; 
}
article {
    grid-area: content; 
    padding: 2.5rem;
    margin-left: 1vw;
    margin-right: 1vw;
}
footer  {
    grid-area: footer;
    background-color: black;
    overflow: hidden;
}

/*

Color pallette

197, 199, 194
199, 198, 193
49, 52, 42
44, 46, 40
36, 37, 38

*/